.boton {
  border-bottom: 5px solid #000;
  border-radius: 12px;
  box-shadow: 6px 6px 6px #999;
  color: #fff !important;
  cursor: pointer;
  display: block;  
  font-family: 'Raleway', Arial, Helvetica;
  font-size: 28px;
  height: 200px;
  margin: 10px auto;
  padding: 10px 0px;
  text-align: center;
  transition: all 0.2s ease 0s;
  width: 100%;
}
.boton:hover{
  background: rgb(198, 27, 27);
  border-bottom: 5px solid #ed3f3f;
}
.boton:active {
  box-shadow: 2px 2px 2px #777, 0px 0px 35px 0px #00b7f8;
  border-bottom:1px solid #0045A6;
  text-shadow:  0px 0px 5px #fff, 0px 0px 5px #fff;
  transform: translateY(4px);
  transition: all 0.1s ease 0s;
  margin: 80px auto 76px auto;
}
.boton2:hover{
  background: rgb(198, 27, 27);
  border-bottom: 5px solid #ed3f3f;
}
.boton2:active {
  box-shadow: 2px 2px 2px #777, 0px 0px 35px 0px #00b7f8;
  border-bottom:1px solid #0045A6;
  text-shadow:  0px 0px 5px #fff, 0px 0px 5px #fff;
  transform: translateY(4px);
  transition: all 0.1s ease 0s;
  margin: 80px auto 76px auto;
}

.botonhighlight {
  border-bottom: 10px solid #000;
  border-radius: 12px;
  box-shadow: 6px 6px 6px #999;
  color: #fff !important;
  cursor: pointer;
  display: block;  
  font-family: 'Raleway', Arial, Helvetica;
  font-size: 22px;
  text-shadow: 0 0 10px yellow;
  font-weight: bold;
  height: 150px;
  margin: 10px auto;
  padding: 10px 0px;
  text-align: center;
  transition: all 0.2s ease 0s;
  width: 100%;
}
.botonhighlight:hover{
  background: rgb(198, 27, 27);
  border-bottom: 5px solid #ed3f3f;
}
.botonhighlight:active {
  box-shadow: 2px 2px 2px #777, 0px 0px 35px 0px #00b7f8;
  border-bottom:1px solid #0045A6;
  text-shadow:  0px 0px 5px #fff, 0px 0px 5px #fff;
  transform: translateY(4px);
  transition: all 0.1s ease 0s;
  margin: 80px auto 76px auto;
}

.question_poll_yes_no {
  font-size: 25px !important;
}

.toolbar {
  padding-top: 100px !important;
}

button.boton2 {
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
}

.pollboton {
  border-bottom: 5px solid #000;
  border-radius: 12px;
  box-shadow: 6px 6px 6px #999;
  color: #fff !important;
  cursor: pointer;
  display: block;
  font-family: "Raleway", Arial, Helvetica;
  font-size: 20px;
  height: 120px;
  margin: 10px auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 30px !important;
  padding-bottom: 0 !important;
  text-align: center;
  transition: all 0.2s ease 0s;
  width: 100%;
}

.pollboton:hover {
  background: #c61b1b;
  border-bottom: 5px solid #ed3f3f;
}

.pollboton:active {
  box-shadow: 2px 2px 2px #777, 0px 0px 35px 0px #00b7f8;
  border-bottom: 1px solid #0045A6;
  text-shadow: 0px 0px 5px #fff, 0px 0px 5px #fff;
  transform: translateY(4px);
  transition: all 0.1s ease 0s;
  margin: 80px auto 76px auto;
}

button.pollboton {
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
}

a {
  text-decoration: none !important;
}

.page-link {
  font-size: 30px !important;
}

@media (min-width: 601px) {
  .section_title {
    font-size: 25px !important;
  }

  .title {
    font-size: 25px !important;
    font-weight: bold !important;
  }

  i {
    font-size: 40px !important;
  }

  #salcobrand_logo {
    width: 50px !important;
  }

  .boton2 {
    border-bottom: 5px solid #000;
    border-radius: 12px;
    box-shadow: 6px 6px 6px #999;
    color: #fff !important;
    cursor: pointer;
    display: block;  
    font-family: 'Raleway', Arial, Helvetica;
    font-size: 24px;
    height: 150px;
    margin: 10px auto;
    padding: 20px 0px;
    text-align: center;
    transition: all 0.2s ease 0s;
    width: 100%;
  }

  .link {
    padding-top: 10px !important;
  }
}

@media (min-width: 301px) and (max-width: 600px) {
  .section_title {
    font-size: 15px !important;
  }

  .title {
    font-size: 22px !important;
    font-weight: bold !important;
  }

  i {
    font-size: 22px !important;
  }

  #salcobrand_logo {
    width: 30px !important;
    margin-top: 10px !important;
  }

  .link {
    padding-top: 10px !important;
  }

  .boton2 {
    border-bottom: 5px solid #000;
    border-radius: 12px;
    box-shadow: 6px 6px 6px #999;
    color: #fff !important;
    cursor: pointer;
    display: block;  
    font-family: 'Raleway', Arial, Helvetica;
    height: 150px;
    font-size: 12px !important;
    margin: 10px auto;
    padding: 20px 0px;
    text-align: center;
    transition: all 0.2s ease 0s;
    width: 100%;
  }
}

@media (max-width: 300px) {
  .section_title {
    font-size: 12px !important;
  }

  .title {
    font-size: 18px !important;
    font-weight: bold !important;
  }

  i {
    font-size: 18px !important;
  }

  #salcobrand_logo {
    width: 30px !important;
    margin-top: 7px !important;
  }

  .app {
    padding-top: 1px !important;
  }

  .link {
    padding-top: 10px !important;
  }

  .boton2 {
    border-bottom: 5px solid #000;
    border-radius: 12px;
    box-shadow: 6px 6px 6px #999;
    color: #fff !important;
    cursor: pointer;
    display: block;  
    font-family: 'Raleway', Arial, Helvetica;
    height: 150px;
    font-size: 9px !important;
    margin: 7px auto;
    padding: 20px 0px;
    text-align: center;
    transition: all 0.2s ease 0s;
    width: 100%;
  }
}